/*dark scheme*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
    }

    h1 {
        color: #A8A8A8;
    }
    
    h2 {
        color: #A8A8A8;
    }
    
    h3{
        color: #A8A8A8;
    }
    
    p {
        color: #A8A8A8;
    }

    .cabecalho {
        background-color: #252627;
    }

    ::selection {
        color: #F7B291;
        background: #032D42;
    }

    a:active,
    a:link,
    a:visited {
        color: #1DB2FB;
    }

    a:hover {
        color: #18B2FD;
    }
}