/*dark scheme*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
    }

    h1 {
        color: #808080;
    }
    
    h2 {
        color: #808080;
    }
    
    h3{
        color: #7a7a7a;
    }
    
    p {
        color: #666666;
    }

    .cabecalho {
        background-color: #252627;
    }

    ::selection {
        color: #f7b291;
        background: #063e58;
    }

    a:active,
    a:link,
    a:visited {
        color: #0a608a;
    }

    a:hover {
        color: #0c78ac;
    }
}