@media screen and (max-width: 480px) and (min-width: 360px) {
  body{
    margin-bottom: 80px; /* altura do footer */
  }

  .container {
    width: 92%;
  }
  /*nav*/
  .cabecalho {
    padding: 15px;
  }

  .cabecalho-menu {
    font-size: 0.9375rem;
    gap: 15%;
  }
  .cabecalho-menu-item {
    font-size: 18px;
  }

  .Moone {
    font-size: 24px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  li {
    font-size: 16px;
  }

  /* Footer Styling */

.rodape p {
  font-size: 14px;
  font-weight: 800;
}
}

/* Media query para tablets */
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  /*nav*/
  body{
    margin-bottom: 60px; /* altura do footer */
  }

  .container {
    width: 95%;
  }
  .cabecalho {
    padding: .9375rem;
  }

  .cabecalho-menu-item {
    font-size: 1.375rem;
  }

  .Moone {
    font-size: 1.75rem;
  }

  h1 {
    font-size: 1.625rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.375rem;
  }

  li {
    font-size: 1.375rem;
  }
}
