@media screen and (max-width: 30rem) and (min-width: 22.5rem) {
  body{
    margin-bottom: 5rem; /* altura do footer */
  }

  .container {
    width: 92%;
  }
  /*nav*/
  .cabecalho {
    padding: 1rem;
  }

  .cabecalho-menu {
    font-size: 15px;
    gap: 15%;
  }
  .cabecalho-menu-item {
    font-size: 1rem;
  }

  .Moone {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  li {
    font-size: 1rem;
  }

  /* Footer Styling */

.rodape p {
  font-size: .875rem;
  font-weight: 800;
}
}

/* Media query para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*nav*/
  body{
    margin-bottom: 3.75rem; /* altura do footer */
  }

  .container {
    width: 95%;
  }
  .cabecalho {
    padding: 1rem;
  }

  .cabecalho-menu-item {
    font-size: 1.5rem;
  }

  .Moone {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.5rem;
  }
}
